{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html>

  <meta charset = "utf-8">
  <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
  <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name = "description" content = "conception, concepteur, développement, développeur, logiciel, python, c++, java, django, pandas, base de donnée">
  <meta name = "author" content = "{{ page_author }}">

  <link rel = "icon" type = "image/x-icon" href = "{{ page_ico }}" />
  <link rel = "SHORTCUT ICON" href = "{{ page_ico }}" />

  <head>
    <title>{{ page_title }}</title>

    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <link href = "https://fonts.googleapis.com/css2?family=Jost:wght@100;400&family=Train+One&display=swap" rel = "stylesheet">

    <style>
      body {
          overflow-x: auto;
          font-family: 'Jost', sans-serif;
          font-size: 7mm;
          mont-mamily: 'Train One', cursive;
      }

      .container-fluid {
          width: 100%;
          padding-right: 66px;
          padding-left: 66px;
          margin-right: 0px;
          margin-left: 0px;
      }

      .custom {
          min-width: 77mm;
          overflow-x: visible;
      }

      .scroller {
          overflow: scroll;
      }
    </style>        

  </head>

  <script>
      function initnow() {
          window.location.href = "{{ page_redirect }}";
      }
  </script>

  {{ page_pause | safe }}
  {% if page_redirect %}
  <body onload = "initnow()"></body>
</html>
{% endif %}

<body class = "alert alert-info"
      data-bs-toggle = "tooltip"
      data-bs-html = "true"
      title = ""
      role = "alert">

  <!-- <img title = "earth and moon to scale" -->
  <!--      src = "/static/svg/earth.moon.svg" -->
  <!--      class = "img-fluid" -->
  <!--      alt = "not found"> -->
  <hr>
  <div title = "header-nav"
       class = "header-nav">
    <div class = "container-fluid">
      <header title = "header">
        <nav title = "navbar fixed-top"
             style = "background-image: url('{% static page_bg %}'); background-size: 100% 100%;"
             class = "navbar fixed-top navbar-expand-lg navbar-info">
          <div title = "navigator division"
               class = "container-fluid">
            <a title = "home"
               class = "navbar-brand btn-outline-secondary"
               href = "{% url 'index' %}">
              <img src = "{% static page_brand %}"
                   alt = "home"
                   height = "66"
                   class = "d-inline-block align-text-left"></a>
            
            <button title = "menu"
                    class = "navbar-toggler btn-outline-primary rounded-circle"
                    type = "button"
                    data-toggle = "collapse"
                    data-target = "#navbarSupportedContent"
                    aria-controls = "navbarSupportedContent"
                    aria-expanded = "false"
                    aria-label = "Toggle navigation">
              <span class = "navbar-toggler-icon">v</span>
            </button>

            <div class = "collapse navbar-collapse"
                 id = "navbarSupportedContent">
              <ul class = "navbar-nav mr-auto">

                <li class = "nav-item active">
                  <a title = "{% trans 'News' %}"
                     class = "nav-link btn-outline-primary rounded-circle"
                     href = "{% url 'news_index' %}">{% trans 'News' %}</a>
                </li>

                <li class = "nav-item active">
                  <a title = "{% trans 'Work' %}"
                     class = "nav-link btn-outline-info rounded-circle"
                     href = "{% url 'work_index' %}">{% trans 'Work' %}</a>
                </li>

                <li class = "btn-group nav-item active">
                  <a id = "btnGroupDrop"
                     title = "{% trans 'PlotMainDesc' %}"
                     class = "nav-link btn-outline-warning text-light dropdown-toggle rounded-circle"
                     data-toggle = "dropdown"
                     aria-haspopup = "true"
                     aria-expanded = "true">{% trans 'PlotMain' %}</a>
                  <div class = "dropdown-menu text-light bg-dark"
                       aria-labelledby = "btnGroupDrop">
                    <a title = "{% trans 'PlotLang' %}"
                       class = "nav-link btn-outline-success rounded"
                       href = "{% url 'demo' %}">{% trans 'PlotLang' %}</a>
                    <!-- <a title = "{% trans 'PlotSun' %}" -->
                    <!--    class = "nav-link btn-outline-danger rounded" -->
                    <!--    href = "{% url 'sun' %}">{% trans 'PlotSun' %}</a> -->
                    <a title = "{% trans 'PlotBg' %}"
                       class = "nav-link btn-outline-warning rounded"
                       href = "{% url 'bg' %}">{% trans 'PlotBg' %}</a>
                  </div>
                </li>

                <li class = "btn-group nav-item active">
                  <a id = "btnGroupDrop"
                     title = "{% trans 'About' %}"
                     class = "nav-link btn-outline-success text-light dropdown-toggle rounded-circle"
                     data-toggle = "dropdown"
                     aria-haspopup = "true"
                     aria-expanded = "true">{% trans 'About' %}</a>
                  <div class = "dropdown-menu text-light bg-dark"
                       aria-labelledby = "btnGroupDrop">
                    <a title = "curriculum vitæ"
                       class = "nav-link btn-outline-warning"
                       href = "/cv">{% trans 'MyCV' %}</a>
                    <a title = "bio"
                       class = "nav-link btn-outline-secondary"
                       href = "/bio">bio</a>
                    <a title = "django rest framework"
                       class = "nav-link btn-outline-primary"
                       href = "/rest">api rest framework</a>
                    <a title = "warning: administration requires a super user"
                       class = "nav-link btn-outline-danger"
                       href = "/admin">django admininstration</a>
                    <a title = "this page is a django application"
                       class = "nav-link btn-outline-info"
                       href = "{% url 'work_detail' 3 %}">{% trans 'ThisPage' %}</a>
                    {{ page_digitalocean_grand | safe }}

                  </div>
                </li>

              </ul>


              <ul class = "navbar-nav text-right">
                <li class = "nav-item">
                  <form method = "post">{% csrf_token %}
                    {% buttons %}
                    <button title = "{{ page_oldlang }}/{{ page_newlang }}"
                            type = "submit"                              
                            value = "{{ page_newlang }}"
                            class = "btn btn-outline-{{page_lancol}} rounded"
                            name = "fliplang"><strong>{% trans 'ChengeLangInverse' %}</strong>
                    </button>
                    {% endbuttons %}
                  </form>
                </li>
              </ul>


              <div class = "nav_item col-md-3 offset-md-1">
                <form title = "form"
                      method = "post"
                      class = "d-flex">{% csrf_token %}
                  <input title = "{% trans 'SendMeMessage' %}"
                         style = "{{ page_style }}"
                         class = "form-control me-2 rounded text-center"
                         type = "search"
                         placeholder = "{{ page_message }}"
                         name = "message"
                         aria-label = "commentaire">
                  <button title = "btn btn-outline-primary rounded-circle"
                          class = "btn btn-outline-primary rounded-circle"
                          type = "submit">{{ page_submit }}</button>
                </form>
              </div>            
            </div>
          </div>
        </nav>

      </header>
    </div>
  </div>

  {{ page_pause | safe }}

  <div class = "col container-fluid">
    {% block page_content %}
    <!--   here -->
    <!--    is   -->
    <!--    the   -->
    <!-- extended  -->
    <!--   page     -->
    <!-- extended  -->
    <!--    est   -->
    <!--    ici  -->
    {% endblock %}
  </div>

  {{ page_pause | safe }}



  <hr>
  <footer title = "{{ page_author }}"
          class = "footer fixed-bottom sticky-bottom text-light bg-dark text-right text-light">
    <div title = "{{ page_author }}"
         class = "row">

      <small class = "col-md-6 text-md-left">
          <small>
            <span class = "text-muted mx-2">|</span>
            copyleft &#127279;
            {{ page_author }}
            <span class = "text-muted mx-2">|</span>
            2012 - {{ page_time | date:"Y" }}
            <span class = "text-muted mx-2">|</span>
            {{ page_place }}
          </small>
      </small>

      <div class = "col-md-6 text-md-right">
        {% include "social.html" %}
      </div>

    </div>

  </footer>



  <div class = "footer sr-only">
    <div class = "container-fluid">
      <footer title = "footer fixed-bottom sticky-bottom"
              class = "footer fixed-bottom sticky-bottom text-light bg-dark text-right text-light">
        <small class = "text-light">
          <small>
            copyleft &#127279;
            {{ page_author }},
            {% trans 'LastUpdate' %}
            {{ page_time | date:"Y" }},
            {{ page_place }}
            {% include "social.html" %}
          </small>

        </small>
      </footer>
    </div>
  </div>



  

</body>

</html>
