{% extends "base.html" %}
{% block page_content %}


<div class = "accordion justify-content-between"
     style = "font-size:33px"
     id = "acc0">biographie

  <div title = "bio bouton group"
       class = "btn-group btn-group-lg"
       role = "group"
       aria-label = "btn-group aria-label">{# #}
    <button title = "bio"
            class = "btn btn-outline-dark rounded"
            data-toggle = "collapse"
            data-target = "#acc1">bio</button>
    <button title = "développement"
            class = "btn btn-outline-success rounded"
            data-toggle = "collapse"
            data-target = "#acc2">développement</button>
    <button title = "projets"
            class = "btn btn-outline-info rounded"
            data-toggle = "collapse"
            data-target = "#acc3">projets</button>
  </div>

  {{ page_pause | safe }}

  <div title = "bio"
       id = "acc1"
       data-parent = "#acc0"
       class = "collapse show">

    Je m'appelle Kaloyan KRASTEV. Je suis né à Burgas, en Bulgarie. Je développe des bases des données, sites web, documents et applications basées sur des technologies code source ouvertes et de la programmation objet orientée. Physicien de formation j'ai travaillé dans la physique des particules d'abord en Bulgarie puis mon doctorat à l'Université de Hamburg en Allemagne et mes études postdoctorales au CNRS (Centre National de la Recherche Scientifique) à Grenoble en France.<br /><br />

    Mes compétences informatiques sont développées pendant mon travail dans la physique expérimentale y compris des calculs, des simulations, analyse des données scientifique et visualisation de données. Je programme depuis 2000 et j'ai toujours voulu travailler dans le développement logiciel. Je suis passionné de ce domaine.<br /><br />

    Responsable, organisé, attentif aux détails, capable de travailler en équipe, plutôt indépendant, j'ai de capacité d'adaptation. Les problèmes complexes sont ma spécialité. Je comprends et je sais parler, lire et écrire en français, en anglais et en bulgare.<br /><br />

  </div>
  
  <div title = "développement"
       id = "acc2"
       data-parent = "#acc0"
       class = "collapse user-select-none">
    Je connais l'informatique du côté logiciel et du côté matériel. Je souhaite travailler comme développeur back-end et concepteur d'application. Je m'intéresse aux bases de données, d'analyse de données et de visualisation en ligne. Je code en javascript, php, python, c, java, c++, perl et fortran. Mes langages de programmation préférés sont python, java et c++. J'utilise surtout des logiciels open source.<br /><br />
    Je connais docker, ssh, bootstrap, pandas, gnuplot, emacs, eclipse;<br /><br />
    <p>web frame: django, symphony, vue.js, angular;</p>
    <p>version contrôle: cvs, subversion, git;</p>
    <p>web serveurs: apache, nginx, gunicorn, CGI, WSGI;</p>
    <p>bases de données: oracle, mysql, sqlite, sql*loader;</p>
    <p>systèmes d'exploitation: Red Hat, Debian, Ubuntu et OpenSUSE Linux.</p>
  </div>

  <div title = "projets"
       id = "acc3"
       data-parent = "#acc0"
       class = "collapse user-select-none">
    J'ai commencé à coder avec fortran l'année 2000 pour ma thèse à l'Université de Sofia dédiée aux calculs de la réactivité d'un réacteur nucléaire. Puis, j'ai travaillé sur l'estimation du risque pour la population à l'aide des simulations de l'évolution de déchets radioactifs à vie longue. Mon doctorat était consacré à l'analyse des données expérimentales. Le code de l'analyse est écrit en C++. Mon premier projet en Allemagne est un programme de dupliquer en temps réel dans une base de données oracle et puis visualiser en ligne les données. Je parle des données expérimentales de détecteur H1 à HERA (Hadron-Electron Ring Accélérateur). HERA(1992-2007) est une expérience de DESY (Deutsches Elektronen-Synchrotron) à Hamburg en Allemagne.<br /><br />
    H1 détecte la collision entre un proton et un électron accéléré. Dans la collision le proton est complètement détruit. Cette méthode destructive sert d'étude de sa structure. Ma première application écrite en java sert à contrôler à distance le central trigger du détecteur. Un programme d'apprentissage de la langue française pour des bulgares avec plus que cinq milles mots et expressions est la dernière. Dans la laboratoire de physique subatomique et cosmologie, LPSC du CNRS j'ai participé la programmation de la reconstruction d'un prototype détecteur des photons en langage c.<br /><br />
    Je suis le développement de l'apprentissage automatique et des réseaux de neurones.<br /><br />
    {% include "social.html" %}

  </div>

</div>




{% endblock %}
