{% extends "base.html" %}
{% block page_content %}
{% load static %}

{% if page_nova %}
<script>
  $(window).on('load', function() {
  setTimeout(function() {
  $('#bienvenue').modal('show');
  }, 3210); // delay in milliseconds
  });
</script>
{% endif %}

<h1>{{ title }}</h1>

{{ page_pause | safe }}

<div title = "info info info"
     class = "container-fluid card-group"
     id = "mother"
     style = "min-width: 100mm">

  <div title = "bonjour"
       class = "card custom col-md-3 alert-info">
    <div class = "card-body">
      <a title = "manifest"
         class = "card-text btn btn-outline-info rounded-circle"
         style = "font-size:9.6mm;"
         data-toggle = "modal"
         data-target = "#bienvenue">
        <img title = "Kaloyan KRASTEV"
             class = "card-img-top rounded-circle"
             src = "{% static image %}"
             alt = "{{ image }} not found"></a>
    </div>
  </div>

  <div title = "about"
       class = "card custom col-md-3 alert-info">
    <div class = "card-body">
      <div class = "card-title"
           style = "font-size:8mm;">
        <strong>{{ about | safe }}</strong>
      </div>
    </div>
  </div>

  <div class = "col-md-7">
    <div class = "row">
      <div class = "list-group list-group-horizontal text-center"
           id = "list-tab"
           style = "font-size:6mm;"
           role = "tablist">
        <a class = "list-group-item btn-outline-dark rounded-circle active"
           id = "list-prog-list"
           data-toggle = "list"
           href = "#list-prog"
           role = "tab"
           aria-controls = "prog">
          {% if page_en %}languages
          {% else %}langages
          {% endif %}</a>
        <a class = "list-group-item btn-outline-dark rounded-circle"
           id = "list-tech-list"
           data-toggle = "list"
           href = "#list-tech"
           role = "tab"
           aria-controls = "tech">
          {% if page_en %}technology
          {% else %}technologie
          {% endif %}</a>
        <a class = "list-group-item btn-outline-dark rounded-circle"
           id = "list-expo-list"
           data-toggle = "list"
           href = "#list-expo"
           role = "tab"
           aria-controls = "expo">
          {% if page_en %}experience
          {% else %}expérience
          {% endif %}</a>
        <a class = "list-group-item  btn-outline-dark rounded-circle"
           id = "list-comp-list"
           data-toggle = "list"
           href = "#list-comp"
           role = "tab"
           aria-controls = "comp">
          {% if page_en %}skills
          {% else %}compétences
          {% endif %}</a>
        <a class = "list-group-item  btn-outline-dark rounded-circle"
           id = "list-form-list"
           data-toggle = "list"
           href = "#list-form"
           role = "tab"
           aria-controls = "form">
          {% if page_en %}education
          {% else %}formation
          {% endif %}</a>
      </div>
    </div>

    {{ page_pause | safe }}

    <div class = "row">
      <div class = "tab-content text-center"
           id = "nav-tabContent">
        <div class = "tab-pane fade show active"
             id = "list-prog"
             role = "tabpanel"
             aria-labelledby = "list-prog-list">{{ lange | safe }}
        </div>
        <div class = "tab-pane fade"
             id = "list-tech"
             role = "tabpanel"
             aria-labelledby = "list-tech-list">{{ techno | safe }}
        </div>
        <div class = "tab-pane fade"
             id = "list-expo"
             role = "tabpanel"
             aria-labelledby = "list-expo-list">
          <p>CNRS - Grenoble, France</p>
          <p>DESY - Hamburg, Allemagne</p>
          <p>INRNE - BAS - Sofia, Bulgarie</p>
        </div>
        <div class = "tab-pane fade"
             id = "list-comp"
             role = "tabpanel"
             aria-labelledby = "list-comp-list">
          <p>{{ lange | safe }}</p>
          <p>{{ techno | safe }}</p>
        </div>
        <div class = "tab-pane fade"
             id = "list-form"
             role = "tabpanel"
             aria-labelledby = "list-form-list">
          <p>simplon.co - Grenoble</p>
          <p>la Conservatoire de Grenoble</p>
          <p>Universität Hamburg</p>
          <p>Sofia University</p>
        </div>

      </div>
      
    </div>
  </div>
</div>

{{ page_pause | safe }}


<div id = "carexind"
     class = "container-fluid row carousel slide"
     title = "class  =  row carousel slide"
     data-interval = "6789"
     data-keyboard = "true"
     data-pause = "hover"
     data-ride = "carousel"
     data-wrap = "true">
  <div class = "carousel-inner">
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static apirest %}" alt = "{{ apirest }} not found">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static basicdjango %}" alt = "slide 2">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static django %}" alt = "slide 3">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static djangorest %}" alt = "slide 4">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static framework %}" alt = "slide 5">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static langage %}" alt = "slide 6">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static mtv %}" alt = "slide 7">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static mvc %}" alt = "slide 8">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static mvcr %}" alt = "slide 9">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static restendpoint %}" alt = "slide 10">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static rsa %}" alt = "slide 11">
    </div>
    <div class = "carousel-item">
      <img class = "d-block w-100" src = "{% static serverless %}" alt = "slide 12">
    </div>
    <div class = "carousel-item active">
      <img class = "d-block w-100" src = "{% static web %}" alt = "slide 13">
    </div>
  </div>
  <a class = "carousel-control-prev" href = "#carexind" role = "button" data-slide = "prev">
    <span class = "carousel-control-prev-icon" aria-hidden = "false"></span>
    <span class = "non-sr-only text-dark">Previous</span>
  </a>
  <a class = "carousel-control-next" href = "#carexind" role = "button" data-slide = "next">
    <span class = "carousel-control-next-icon" aria-hidden = "true"></span>
    <span class = "non-sr-only text-dark">Next</span>
  </a>
</div>


{{ page_pause | safe }}
{{ page_pause | safe }}

<div>
  {% if page_en %}
  {% include "welcome.html" %}
  {% else %}
  {% include "bienvenue.html" %}
  {% endif %}
</div>

<div title = "modal fade bg-dark"
     class = "modal fade bg-dark"
     tabindex = "-1"
     id = "bienvenue"
     role = "dialog"
     aria-hidden = "true"
     aria-labelledby = "myLargeModalLabel">
  <div class = "modal-dialog modal-lg">
    <div class = "modal-content bg-danger">
      <div class = "modal-header bg-dark text-primary">
        <div class = "modal-title">{{ page_digitalocean_grand | safe }}</div>
      </div>
      <div class = "modal-body bg-primary">
        {% if page_en %}
        {% include "welcome.html" %}
        {% else %}
        {% include "bienvenue.html" %}
        {% endif %}
      </div>
      <div class = "modal-footer bg-dark">
        <a title = "continue"
           class = "nav-link btn-outline-primary text-right"
           data-dismiss = "modal"
           href = "/">
          {% if page_en %} thank you
          {% else %} merci
          {% endif %}
        </a>
      </div>
    </div>
    
  </div>
</div>

{% if page_not_voted %}
<div class="row justify-content-center">
  <a title = "pas encore voté votre langage de programmation préféré ?"
     class = "btn btn-outline-warning text-right"
     href = "{% url 'demo' %}">voter en-ligne</a>
</div>
{% endif %}

{{ page_tothetop | safe }}


{% endblock %}
