{% extends "base.html" %}
{% block page_content %}

<script>
  function initafter() {
  var timer = setTimeout(function() {
  window.location = '{{ red }}'
  }, {{ after }});
  }
</script>


{% if disco %}
<body onload = "initafter()"></body>
</html>
{% endif %}


<h1 title = "title"
    class = "text-xs-center"
    id = "speakers">Les deux cent quarante sièges de l'Assemblée nationale bulgare 2021</h1>

<a title = "dynamique"
   class = "btn btn-outline-warning text-right"
   href = "{% url 'bgbg' %}">dynamique</a>

<div class = "row">

  <div class = "col-md-6 col-lg-4">
    <div class = "card">
      {% if graph1 %}
      {{ graph1 | safe }}
      {% else %}
      <p>no graph1 provided</p>
      {% endif %}<hr>
      <div class = "card-block">
        <h4 class = "card-title">15 avril 2021 (participation: 0.51)</h4>
        <p class = "card-text">des élections parlementaires</p>
      </div>
    </div>
  </div>

  <div class = "col-md-6 col-lg-4">
    <div class = "card">
      {% if graph2 %}
      {{ graph2 | safe }}
      {% else %}
      <p>no graph2 provided</p>
      {% endif %}<hr>
      <div class = "card-block">
        <h4 class = "card-title">21 juillet 2021 (participation: 0.39)</h4>
        <p class = "card-text">les premières élections anticipées</p>
      </div>
    </div>
  </div>

  <div class = "col-md-6 col-lg-4">
    <div class = "card">
      {% if graph %}
      {{ graph | safe }}
      {% else %}
      <p>no graph provided</p>
      {% endif %}<hr>
      <div class = "card-block">
        <h4 class = "card-title">14 novembre 2021 (participation: ?.??)</h4>
        <p class = "card-text">les secondes élections anticipées (une prévision)</p>
      </div>
    </div>
  </div>
  
</div>


<div class = "row card alert-info">
  <div class = "card-header">En Bulgarie, les troisièmes élections parlementaires cette année seront le 14 novembre.<p>La participation le 21 juillet a été beaucoup plus faible que lors du vote précédent, 0.39 contre 0.51 en avril. Environ 2 600 000 de Bulgares ont voté le juillet, contre 3 300 000 il y a six mois. Trois électeurs sur cinq ne sont pas allés voter !</p>
  </div>
  <div class = "card-body">
    <blockquote class = "blockquote mb-4">L'Assemblée nationale (en bulgare : Народно събрание) est composée de 240 sièges pourvus pour quatre ans au scrutin proportionnel plurinominal dans 31 circonscriptions électorales de quatre à 16 sièges. Les listes sont ouvertes, avec la possibilité pour les électeurs d'effectuer un vote préférentiel envers un candidat de la liste choisie afin de faire monter sa place dans celle ci. Après décompte des suffrages, la répartition est faite au plus fort reste de Hare entre les listes de candidats ayant atteint le seuil électoral de 4 % des suffrages exprimés au niveau national.
      <footer class = "blockquote-footer">Wikipedia
        <cite title = "Le Monde"></cite></footer>
    </blockquote>
  </div>
</div>

<div class="flourish-embed flourish-chart" data-src="visualisation/7846277"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

{% endblock %}
